[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-dotenv = "*"
alembic = "*"
psycopg2-binary = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
